body {
  background-color: cyan;
  font-family: verdana;
}

h1 {
  text-align: center;
  background-color: lightcyan;
  color: darkblue;
  font-family: cursive, sans-serif;
}

h3 {
  text-align: center;
}

.link {
  text-align: right;
}

a:hover {
  text-decoration: None;
}

h4 {
  text-align: center;
}

.center {
  text-align: center;
  background-color: lightcyan;
  color:black;
  list-style-position: inside;
  width: 50em;
  margin-right: auto;
  margin-left: auto;
}

section p {
  text-align: center;
  font-size: 16px
}

a:hover {
  text-decoration: underline;
  background-color: white;
}

.center-2 {
  background-color: lightcyan;
  color:black;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
}

.center-3 {background-color: lightcyan;
  color:black;
  margin-left: auto;
  margin-right: auto;
  width: 40em;}

