h1 {
  text-align: center;
  background-color: black;
  color: white;
  font-family: cursive, sans-serif;
}

h3 {
  text-align: center;
}

body {
  background-color: cyan;
  }


p {
  float: left;
  border: 3px soild red;
  font-size: 14px;

}

a {
  text-decoration: None
}

ol {
  float:right;
}

a:visited {
    color: purple;
  }
