h1 {
  text-align: center;
  background-color: black;
  color: white;
  font-family: cursive, sans-serif;
}

h3 {
  text-align: center;
}

ol {
right: 50%;
}

body {
  background-color: cyan;
}

a {
  text-decoration: None;
}

a:visited {
    color: purple;
}
